@using Marketing.Application.Interfaces
@using Marketing.Application.Services
@using Microsoft.AspNetCore.Authorization
@using Marketing.App.Security
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@page "/companies"

@using Marketing.Domain.Models
@inject ProtectedLocalStorage localStorage
@inject NavigationManager Navigation
@inject ICustomerService CustomerService
@inject NotificationService notification
@inject LanguageService LangService

<style>
	.matrix-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	}

	.matrix-modal {
		background-color: #38474e;
		border: 2px solid #d4af37;
	padding: 20px;
	width: 400px;
	color: #ffffff;
	border-radius: 8px;
	}
	.form-grid
	{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	}

	.form-grid-item {
	display: flex;
	flex-direction: column;
	}

	h2{
		display: flex;
		justify-content: center;
	}
	h3{
		display: flex;
		justify-content: center;
	}
</style>


<h2>@Loc.Get("CompanieTitle", currentLanguage)</h2>


<RadzenButton Text="@Loc.Get("RegisterCompanieTitle", currentLanguage)" ButtonStyle="ButtonStyle.Success" Click="@ShowModal" />


@if (showModal)
{
	<div class="matrix-modal-overlay">
		<div class="matrix-modal">
			<h3 style="color: #ffff;">@Loc.Get("RegisterNewCustomerText", currentLanguage)</h3>
			<EditForm Model="@newCustomer" OnSubmit="@(isEditing ? UpdateCustomer : RegisterCustomer)"> @* OnValidSubmit="@RegisterCustomer"> *@
				<div class="form-grid">
					<div class="form-grid-item">
						<RadzenText Style="color: #ffff; font-size: 14px; font-weight: bold;">@Loc.Get("TradeNameLabel", currentLanguage)</RadzenText>
						<RadzenTextBox @bind-Value="newCustomer.Name" style="width: 100%;" />
					</div>

					<div class="form-grid-item">
						<RadzenText Style="color: #ffff; font-size: 14px; font-weight: bold;">E-mail</RadzenText>
						<RadzenTextBox @bind-Value="newCustomer.Email" style="width: 100%;" />
					</div>

					<div class="form-grid-item">
						<RadzenText Style="color: #ffff; font-size: 14px; font-weight: bold;">Cnpj</RadzenText>
						<RadzenTextBox @bind-Value="newCustomer.Cnpj" style="width: 100%;" />
					</div>

					<div class="form-grid-item">
						<RadzenText Style="color: #ffff; font-size: 14px; font-weight: bold;">@Loc.Get("PostalCodeLabel", currentLanguage)</RadzenText>
						<RadzenTextBox @bind-Value="newCustomer.PostalCode" style="width: 100%;"  />
					</div>

					<div class="form-grid-item">
						<RadzenText Style="color: #ffff; font-size: 14px; font-weight: bold;">@Loc.Get("AddressLabel", currentLanguage)</RadzenText>
						<RadzenTextBox @bind-Value="newCustomer.Address" style="width: 100%;" />
					</div>

					<div class="form-grid-item">
						<RadzenText Style="color: #ffff; font-size: 14px; font-weight: bold;">@Loc.Get("CityLabel", currentLanguage)</RadzenText>
						<RadzenTextBox @bind-Value="newCustomer.City" style="width: 100%;" />
					</div>

					<div class="form-grid-item">
						<RadzenText Style="color: #ffff; font-size: 14px; font-weight: bold;">@Loc.Get("RegionLabel", currentLanguage)</RadzenText>
						<RadzenTextBox @bind-Value="newCustomer.Region" style="width: 100%;" />
					</div>

					<div class="form-grid-item">
						<RadzenText Style="color: #ffff; font-size: 14px; font-weight: bold;">@Loc.Get("TypeContractLabel", currentLanguage)</RadzenText>
						<RadzenTextBox @bind-Value="newCustomer.TypeContract" style="width: 100%;" />
					</div>

					<div class="form-grid-item">
						<RadzenText Style="color: #ffff; font-size: 14px; font-weight: bold;">@Loc.Get("StartDate", currentLanguage)</RadzenText>
						<RadzenDatePicker @bind-Value="newCustomer.ContractStartDate" style="width: 100%;" />
					</div>

					<div class="form-grid-item">
						<RadzenText Style="color: #ffff; font-size: 14px; font-weight: bold;">@Loc.Get("EndDate", currentLanguage)</RadzenText>
						<RadzenDatePicker @bind-Value="newCustomer.ContractEndDate" style="width: 100%;" />
					</div>


					<div class="form-grid-item" style="grid-column: span 2;">
						<RadzenCheckBox @bind-Value="newCustomer.Status" /> Active
					</div>
				</div>


				<RadzenButton Text="@Loc.Get("SaveButton", currentLanguage)" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Style="margin-top: 10px;" />
				<RadzenButton Text="@Loc.Get("CancelButton", currentLanguage)" ButtonStyle="ButtonStyle.Light" Click="@(() => showModal = false)" Style="margin-top: 10px; margin-left: 10px;" />
			</EditForm>

		</div>
	</div>
}

<RadzenDataGrid TItem="Customer" Style="margin-top: 20px;" PageSize="10" AllowPaging="true" AllowSorting="true" Data="@ListCustomer" ColumnWidth="400px">
	<Columns>
		<RadzenDataGridColumn Property="Name" Title="@Loc.Get("TradeNameLabel", currentLanguage)" Width="200px" />
		<RadzenDataGridColumn Property="Cnpj" Title="Cnpj" Width="100px" />
		<RadzenDataGridColumn Property="TypeContract" Title="@Loc.Get("TypeContractLabel", currentLanguage)" Width="100px" />
		<RadzenDataGridColumn Property="ContractStartDate" Title="@Loc.Get("StartDate", currentLanguage)" Width="100px">
			<Template Context="customer">
				@customer.ContractStartDate.ToLocalTime().ToString("yyyy-MM-dd")
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Property="ContractEndDate" Title="@Loc.Get("EndDate", currentLanguage)" Width="100px">
			<Template Context="customer">
				@customer.ContractEndDate.ToLocalTime().ToString("yyyy-MM-dd")
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Property="Status" Title="Status" Width="100px" />

		<RadzenDataGridColumn Title="@Loc.Get("ActionsLabel", currentLanguage)" Width="200px">
			<Template Context="customer">
				<RadzenButton Icon="edit" Size="ButtonSize.Small" Style="margin-right: 4px; background: #8e00d2;" Click="@(args => EditCustomer(customer))" />
				<RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger" Click="@(args => DeleteCustomer(customer.Cnpj))" />
			</Template>
		</RadzenDataGridColumn>
	</Columns>
</RadzenDataGrid>


<h3 style="margin-top: 40px;">@Loc.Get("InactiveCompaniesTitle", currentLanguage)</h3>

<RadzenDataGrid TItem="Customer" PageSize="10" AllowPaging="true" AllowSorting="true" Data="@ListInactiveCustomers" ColumnWidth="400px">
	<Columns>
		<RadzenDataGridColumn Property="Name" Title="@Loc.Get("TradeNameLabel", currentLanguage)" Width="200px" />
		<RadzenDataGridColumn Property="Cnpj" Title="Cnpj" Width="100px" />
		<RadzenDataGridColumn Property="TypeContract" Title="@Loc.Get("TypeContractLabel", currentLanguage)" Width="100px" />
		<RadzenDataGridColumn Property="ContractStartDate" Title="@Loc.Get("StartDate", currentLanguage)" Width="100px">
			<Template Context="customer">
				@customer.ContractStartDate.ToLocalTime().ToString("yyyy-MM-dd")
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Property="ContractEndDate" Title="@Loc.Get("EndDate", currentLanguage)" Width="100px">
			<Template Context="customer">
				@customer.ContractEndDate.ToLocalTime().ToString("yyyy-MM-dd")
			</Template>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn Title="@Loc.Get("ActionsLabel", currentLanguage)" Width="120px">
			<Template Context="customer">
				<RadzenButton Text="@Loc.Get("ActivateLabel", currentLanguage)" Icon="check" ButtonStyle="ButtonStyle.Success"
							  Size="ButtonSize.Small" Click="@(args => ActivateCustomer(customer))" />
			</Template>
		</RadzenDataGridColumn>
	</Columns>
</RadzenDataGrid>


@code {
	private bool showModal = false;
	private bool isEditing = false;
	private string submitButtonText = "Register";
	private Customer newCustomer = new();
	private List<Customer> ListCustomer = new();
	private List<Customer> ListInactiveCustomers = new();
	private string currentLanguage => LangService.CurrentLanguage;


	protected override async Task OnInitializedAsync()
	{
		LangService.OnLanguageChanged += LanguageChanged;

		await LoadCompaniesAsync();
	}


	private async Task RegisterCustomer()
	{
		var existeCnpj = await CustomerService.GetCustomerCnpjAsync(newCustomer.Cnpj);


		if(existeCnpj != null)
		{
			notification.Notify(Radzen.NotificationSeverity.Error, "Erro", "Cnpj already exists!");
			return;
		}

		await CustomerService.RegisterCustomerAsync(newCustomer);

		newCustomer = new();
		notification.Notify(Radzen.NotificationSeverity.Success, "Customer Created Success!");

		Console.WriteLine($"Customer: {newCustomer.Name}, {newCustomer.Email}");

		showModal = false; 
		newCustomer = new();

		await LoadCompaniesAsync();
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			var result = await localStorage.GetAsync<string>("auth_token");
			var token = result.Success ? result.Value : null;

			if (string.IsNullOrEmpty(token))
			{
				Navigation.NavigateTo("/");
			}
			else
			{
				StateHasChanged();
			}
		}
	}

	private void ShowModal()
	{
		showModal = true;
	}

	private void EditCustomer(Customer customer)
	{
		newCustomer = new Customer
			{
				Name = customer.Name,
				Email = customer.Email,
				Cnpj = customer.Cnpj,
				PostalCode = customer.PostalCode,
				Address = customer.Address,
				City = customer.City,
				Region = customer.Region,
				TypeContract = customer.TypeContract,
				ContractStartDate = customer.ContractStartDate,
				ContractEndDate = customer.ContractEndDate,
				Status = customer.Status
			};

		showModal = true;
		isEditing = true;
		submitButtonText = "Update";
	}

	private async Task UpdateCustomer()
	{
		try
		{
			await CustomerService.UpdateCustomerAsync(newCustomer.Cnpj, newCustomer);

			newCustomer = new();
			showModal = false;
			isEditing = false;

			var allCustomers = await CustomerService.GetAllCustomersAsync();
			ListCustomer = allCustomers.Where(c => c.Status == true).ToList();

			StateHasChanged();
			notification.Notify(Radzen.NotificationSeverity.Success, "Customer Updated Successfully!");
		}
		catch (Exception ex)
		{
			Console.WriteLine("Error updating customer: " + ex.Message);
		}

		await LoadCompaniesAsync();
	}


	private async Task DeleteCustomer(string customerCnpj)
	{
		await CustomerService.DeleteCustomerAsync(customerCnpj);
		ListCustomer = await CustomerService.GetAllCustomersAsync();
		notification.Notify(Radzen.NotificationSeverity.Success, "Customer Deleted!");
	}

	private void LanguageChanged()
	{
		StateHasChanged();
	}

	public void Dispose()
	{
		LangService.OnLanguageChanged -= LanguageChanged;
	}

	private async Task LoadCompaniesAsync()
	{
		var allCustomers = await CustomerService.GetAllCustomersAsync();
		ListCustomer = allCustomers.Where(c => c.Status == true).ToList();
		ListInactiveCustomers = allCustomers.Where(c => c.Status == false).ToList();

	}


	private async Task ActivateCustomer(Customer customer)
	{
		customer.Status = true;

		await CustomerService.UpdateCustomerAsync(customer.Cnpj, customer);

		notification.Notify(Radzen.NotificationSeverity.Success,"Companie, Active Successfully!");
		await LoadCompaniesAsync();

}

}